@using VirtualTrainer.Authorization.Manage
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<h1 class="create__title">User account settings</h1>

@if(System.DateTime.Now > @Model.ExpirationDate)
{
    <p style='text-align:center; margin-bottom:20px;'>Please renew you subscription in one of our gyms to continue using the fitness equipment.</p>
}
else
{
   <p style='text-align:center; margin-bottom:20px;'>Your <strong>@Model.SubscriptionName</strong> subscription will expire on <strong>@Model.ExpirationDate</strong> .</p>
}
<br/>
<h3 class="create__title">@ViewData["Title"]</h3>
<div class='create__container'>
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" class='cp__input cp__longop' placeholder='Current Password' />
            <span asp-validation-for="Input.OldPassword"></span>
        </div>
        <div>
            <input asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true" class='cp__input cp__longnp' placeholder='New Password' />
            <span asp-validation-for="Input.NewPassword"></span>
        </div>
        <div>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" class='cp__input cp__longco' placeholder='Confirm Password' />
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <br />
        <button type="submit" class='create__btn create__customBtn'>Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}