
@{
    ViewData["Title"] = "Statistics";
}

<h2 class="stat__title">Statistics</h2>
@*links to different statistics*@
<div class='stat__container'>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserSubStats"> Number of users registered, sorted by date </a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NrUserOnSub"> Number of users registered, sorted by subscription </a>
<p>All time money: @ViewBag.TotalSum RON</p>
<br/>
<p>Money earned today @DateTime.Now.ToString("yyyy-MM-dd") : @ViewBag.CurrentDaySum RON</p>
</div>