@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>
@*links to different statistics*@
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserSubStats"> Number of users registered, sorted by date </a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NrUserOnSub"> Number of users registered, sorted by subscription </a>
