@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Virtual Trainer - A gym administrator</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to your Virtual Trainer</h2>
        <p>
            Virtual Trainer is an application that
            uses Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build your program from scratch</h2>
        <p>You can create in the application your personal workout program with exercises that can be done with gym's equipment.</p>
    </div>
</div>