@{
    ViewData["Title"] = "Home Page";
}

<div class='home__title'>
    <h1>Virtual Trainer</h1>
    <h1>A gym administrator</h1>
</div>
<div class='home__rows'>
    <div class='home__subtitle'>
        <h2>Welcome to your Virtual Trainer</h2>
        <p>
            Virtual Trainer is an application that
            uses Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class='home__subtitle'>
        <h2>Build your program from scratch</h2>
        <p>You can create in the application your personal workout program with exercises that can be done with gym's equipment.</p>
    </div>
</div>