@model IEnumerable<VirtualTrainer.Models.GymViewModels.NrUserOnSub>

@{
    ViewData["Title"] = "Subscription users";
}

<h2 style='text-align:center; margin:2rem 0'>Number of users registered sorted by subscription name:</h2>

<table class="table__container">
    <thead class='table__head'>
        <tr>
            <th>
                Subscription Name
            </th>
            <th>
                Users
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class='table__row'>
                <td>
                    @Html.DisplayFor(modelItem => item.subName)
                </td>
                <td>
                    @item.UserCount
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="About">Back to List</a>
</div>
