@model VirtualTrainer.Models.GymViewModels.ValuesPerMonth

@{
    ViewData["Title"] = "Month Values";
}
<h2 class="stat__title">Total invoces value for every month</h2>
<br />
<table class="table__container">
    <thead class='table__head'>
        <tr>
            <th>Month</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 12; i++)
        {
            <tr class='table__row'>
                <td>@Model.Months[i]</td>
                <td>@Model.Values[i] RON</td>
            </tr>
        }
    </tbody>
</table>