@model VirtualTrainer.Equipment

@{
    ViewData["Title"] = "Create";
}

<h1 class="create__title">Create a new equipment</h1>

<div class='create__container'>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            @*<label asp-for="EquipmentName"></label>*@
            <input asp-for="EquipmentName" class='create__input create__long' placeholder='Equipment name' />
            <span asp-validation-for="EquipmentName"></span>
        </div>
        <div>
            @*<label asp-for="Stock"></label>*@
            <input asp-for="Stock" class='create__input create__long' placeholder='Stock' />
            <span asp-validation-for="Stock"></span>
        </div>
        <div class="form-group">
            @*<label asp-for="Details"></label>*@
            <input asp-for="Details" class='create__input create__long' placeholder='Details' />
            <span asp-validation-for="Details"></span>
        </div>
        <div>
            <input type="submit" value="Create" class='create__btn create__customBtn' />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
