@model VirtualTrainer.Equipment

@{
    ViewData["Title"] = "Edit";
}

<h1 class="create__title">Edit selected equipment</h1>

<div class='create__container'>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Idequipment" />
        <div class='edit__align'>
            <label asp-for="EquipmentName">Equipment Name</label>
            <input asp-for="EquipmentName" class='create__input edit__long__eqname' placeholder='Equipment name' />
            <span asp-validation-for="EquipmentName"></span>
        </div>
        <div class='edit__align'>
            <label asp-for="Stock" class='edit__align__stock'></label>
            <input asp-for="Stock" class='create__input edit__long__stock' placeholder='Stock' />
            <span asp-validation-for="Stock"></span>
        </div>
        <div class='edit__align'>
            <label asp-for="Details" class='edit__align__details'></label>
            <input asp-for="Details" class='create__input edit__long__details' placeholder='Details' />
            <span asp-validation-for="Details"></span>
        </div>
        <div>
            <input type="submit" value="Save" class='create__btn create__customBtn' />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
