@model VirtualTrainer.PersonalWorkout

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersonalWorkout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkoutName" class="control-label"></label>
                <input asp-for="WorkoutName" class="form-control" />
                <span asp-validation-for="WorkoutName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyGroup" class="control-label"></label>
                <input asp-for="BodyGroup" class="form-control" />
                <span asp-validation-for="BodyGroup" class="text-danger"></span>
            </div>
            Exercises:
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<VirtualTrainer.Models.ViewModels.UserAddsProgram> exercises = ViewBag.Exercises;

                                foreach(var ex in exercises)
                                {
                                    if(cnt++ % 14 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                    <input type="checkbox" name="selectedExercises" value="@ex.ExerciseID" @(Html.Raw(ex.Assigned ? "checked=\"checked\"" : ""))/>
                                            @ex.ExerciseID @: @ex.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
