@model VirtualTrainer.PersonalWorkout

@{
    ViewData["Title"] = "Delete";
}

<h3 class='delete__title'>Are you sure you want to delete this personal workout?</h3>
<div class='delete__container'>
    <ul class='delete__ul'>
        <li class='delete__li'>
            Workout name: @Html.DisplayFor(model => model.WorkoutName)
        </li>
    </ul>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersWorkoutId" />
        <input type="submit" value="Delete" class="delete__btn" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
