@model VirtualTrainer.Account.LoginModel

@{
    ViewData["Title"] = "LogIn";
}


    <section>
       <div class='login__container' >
           
    <h1 class='login__title'>@ViewData["Title"]</h1>
            <form id="account" method="post">
               
                <div asp-validation-summary="ModelOnly" ></div>
                <div class='email-login'>
@*                    <label asp-for="Input.Email" > <p style='display:inline-block; margin-right:2rem; color:#ccff00; font-weight:bold;'> Email </p>  </label>
*@                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" class='login__email'  placeholder='Email' />
                    <span asp-validation-for="Input.Email" style='color:red;'></span>
                </div>
                <div class='pass-login' >
@*                    <label asp-for="Input.Password" class="form-label"> <p style='display:inline-block;  color:#ccff00; font-weight:bold;'> Password </p> </label>
*@                    <input asp-for="Input.Password" class="login__pass" autocomplete="current-password" aria-required="true" placeholder='Password' />
                    <span asp-validation-for="Input.Password" class="text-danger" style='color:red;'></span>
                </div>
                <div>
                    <button id="login-submit" class="login__button" type="submit" >Log in</button>
                </div>
            </form>
       </div>
   </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

