@model VirtualTrainer.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<header class='logout__container'>
    <h1 class='logout__title'>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-controller="Identity" asp-action="Logout" asp-route-returnUrl="@Url.Action("Logout", "Identity")" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p class='logout__text'>You have successfully logged out of the application.</p>
        }
    }
</header>