@{
    ViewData["Title"] = "Compound Group";
}

<h1>Compound Group Page</h1>
<br />

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <td>WEEK DAY (BODY GROUP) </td>
        <td>EXERCISE</td>
        <td>SETS</td>
        <td>REPS</td>
        <td>WEIGHTS</td>
        <td>PAUSE BETWEEN SETS (SEC) </td>
    </tr>
    <tr>
        <td>Monday(Chest, Triceps) </td>
        <td>Barbell Bench Press</td>
        <td>5</td>
        <td>12, 10, 8, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Incline Dumbbell Press</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Dumbbell Flye</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Dips</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Close-Grip Bench Press</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>One-Arm Overhead Extension</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td>Tuesday(Biceps, Back) </td>
        <td>Chin-up</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Regular EZ Bar Curl</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Hammer Curl</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Lat Pulldown</td>
        <td>5</td>
        <td>12, 10, 8, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Seated Cable Row With Pause</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Deadlift</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td>Wednesday(Legs) </td>
        <td>Any cardio machine</td>
        <td>1</td>
        <td>5 min</td>
        <td>level 3</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Squats</td>
        <td>5</td>
        <td>12, 10, 8, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Waling Lunge</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Romanian Deadlift</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Barbell Calf Raise</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Standing Calf Raise</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td>Thursday(Shoulders) </td>
        <td>Standing Dumbbell Shoulder Press</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Standing Dumbbell Fly</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Face Pull</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Band Lateral Raise</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Trap Raise</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>