@{
    ViewData["Title"] = "Index";
}

<h1>Workout Guides</h1>
<br />

<text>Select any of the workouts below to see details:</text>
<a class="nav-link text-dark" asp-area="" asp-controller="Guides" asp-action="PushPullLegsV1"> Push, Pull and Legs - Var 1 </a>
<a class="nav-link text-dark" asp-area="" asp-controller="Guides" asp-action="PushPullLegsV2"> Push, Pull and Legs - Var 2 </a>
<a class="nav-link text-dark" asp-area="" asp-controller="Guides" asp-action="OneDayGroup"> One Group per Day </a>
<a class="nav-link text-dark" asp-area="" asp-controller="Guides" asp-action="CompoundGroup"> Compound Workout </a>