@{
    ViewData["Title"] = "One Day Group";
}

<h1>One Day Group Page</h1>
<br />

<table class="table__container">
    <thead class='table__head'>
        <tr>
            <th>WEEK DAY (BODY GROUP) </th>
            <th>EXERCISE</th>
            <th>SETS</th>
            <th>REPS</th>
            <th>WEIGHTS</th>
            <th>PAUSE BETWEEN SETS (SEC) </th>
        </tr>
    </thead>
    <tbody class='table__row_guides'>
        <tr>
            <td>Monday(Chest) </td>
            <td>Barbell Bench Press </td>
            <td>5</td>
            <td>12, 10, 8, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Incline Dumbbell Press </td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Decline Press-up </td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Dumbbell Flye </td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Chest Press Machine </td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td>Tuesday(Biceps, Triceps) </td>
            <td>Chin-up</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Regular EZ Bar Curl</td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Hammer Curl</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Dips</td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Decline Triceps Extenstion</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Lying Dumbbell Triceps Extension</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td>Wednesday(Legs) </td>
            <td>Any cardio machine</td>
            <td>1</td>
            <td>5 min</td>
            <td>level 3</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Squats</td>
            <td>5</td>
            <td>12, 10, 8, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Waling Lunge</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Romanian Deadlift</td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Barbell Calf Raise</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Standing Calf Raise</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td>Thursday(Back) </td>
            <td>Lat Pulldown</td>
            <td>5</td>
            <td>12, 10, 8, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Seated Cable Row With Pause</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Deadlift</td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Bent Over Underhand Barbell Row</td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td>Friday(Shoulders) </td>
            <td>Standing Dumbbell Shoulder Press</td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Standing Dumbbell Fly</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Face Pull</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Band Lateral Raise</td>
            <td>4</td>
            <td>12, 10, 8, 6</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
        <tr>
            <td> </td>
            <td>Trap Raise</td>
            <td>3</td>
            <td>12, 10, 8</td>
            <td>Lowest to your max</td>
            <td>30-60 </td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>