@{
    ViewData["Title"] = "Push, Pull and Legs V1";
}

<h1>Push Pull Legs Page v1 </h1>
<br />

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <td>WEEK DAY (BODY GROUP) </td>
        <td>EXERCISE</td>
        <td>SETS</td>
        <td>REPS</td>
        <td>WEIGHTS</td>
        <td>PAUSE BETWEEN SETS (SEC) </td>
    </tr>
    <tr>
        <td>Monday(Chest, Shoulders, Triceps) </td>
        <td>Incline Dumbbell Press </td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Standing Dumbbell Shoulder Press </td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Dumbbell Bench Press </td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Close-Grip Bench Press </td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>One-Arm Overhead Extension </td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td>Tuesday(Back, Biceps) </td>
        <td>Standing&nbsp;Dumbbell Curl </td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Hammer Curl </td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Reverse Curl Straight Bar </td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Lat Pulldown </td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Dumbbell Single-Arm Row </td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Deadlift </td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td>Wednesday (Legs) </td>
        <td>Bike</td>
        <td>1</td>
        <td>5 min</td>
        <td>level 3</td>
        <td>0 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Squats</td>
        <td>5</td>
        <td>12, 10, 8, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Walking Lunge</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Romanian Deadlift</td>
        <td>4</td>
        <td>12, 10, 8, 6</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Barbell Calf Raise</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
    <tr>
        <td> </td>
        <td>Standing Calf Raise</td>
        <td>3</td>
        <td>12, 10, 8</td>
        <td>Lowest to your max</td>
        <td>30-60 </td>
    </tr>
</table>