@model VirtualTrainer.Subscription

@{
    ViewData["Title"] = "Create";
}

<h1 class="create__title">Create a new subscription</h1>

<div class='create__container'>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            @*<label asp-for="SubName"></label>*@
            <input asp-for="SubName" class='create__input create__long' placeholder='Subscription name' />
            <span asp-validation-for="SubName"></span>
        </div>
        <div>
            @*<label asp-for="AllowedTimeInterval"></label>*@
            <input asp-for="AllowedTimeInterval" class='create__input create__long' placeholder='Time Interval' />
            <span asp-validation-for="AllowedTimeInterval"></span>
        </div>
        <div>
            @*<label asp-for="Price"></label>*@
            <input asp-for="Price" class='create__input create__long' placeholder='Price' />
            <span asp-validation-for="Price"></span>
        </div>
        <div>
            <input type="submit" value="Create" class='create__btn create__customBtn' />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
