@model VirtualTrainer.Subscription

@{
    ViewData["Title"] = "Delete";
}

<p style='text-align:center; color:red;'>@ViewData["ErrorMessage"]</p>
<h3 class='delete__title'>Are you sure you want to delete this subscription?</h3>
<div class='delete__container'>
    <ul class='delete__ul'>
        <li class='delete__li'>
            Subscription name: @Html.DisplayFor(model => model.SubName)
        </li>
        <li class='delete__li'>
            Allower time interval: @Html.DisplayFor(model => model.AllowedTimeInterval)
        </li>
    </ul>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idsubscription" />
        <input type="submit" value="Delete" class="delete__btn" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
