@model VirtualTrainer.User[]

@{
    ViewData["Title"] = "Details";
}

<h1 style='text-align:center; margin:2rem 0'>Subscription Details</h1>

<div>
    <h3 style='text-align:center; margin:2rem 0'>The current subscription has @Model.Length users registered:</h3>
    <table class="table__container">
        <thead class='table__head'>
            <tr>
                <th>Email</th>
                <th>Surname</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody class='table__row'>
            @foreach (var vp in Model)
            {
                <tr>
                    <td>@vp.Email</td>
                    <td>@vp.Surname</td>
                    <td>@vp.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index">Back to List</a>
</div>
