@model VirtualTrainer.Subscription

@{
    ViewData["Title"] = "Edit";
}

<h1 class="create__title">Edit selected subscription</h1>

<div class='create__container'>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Idsubscription" />
        <div>
            <label asp-for="SubName">Subscription Name</label>
            <input asp-for="SubName" class='create__input' placeholder='Subscription name' />
            <span asp-validation-for="SubName"></span>
        </div>
        <div>
            <label asp-for="AllowedTimeInterval">Allowed Time Interval</label>
            <input asp-for="AllowedTimeInterval" class='create__input' placeholder='Time Interval' />
            <span asp-validation-for="AllowedTimeInterval"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class='create__input' placeholder='Price' />
            <span asp-validation-for="Price"></span>
        </div>
        <div>
            <input type="submit" value="Save" class='create__btn create__customBtn' />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
