@using VirtualTrainer.Authorization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Virtual Trainer</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesseet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />


</head>
<body style='background-color:#bdc3cb'>
    <header>
        <nav>
            <div class='nav'>
                <a  asp-area="" asp-controller="Home" asp-action="Index">Virtual Trainer</a>            
                <div>
                    <ul class='links'>
                        <li>
                            <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @{
                            if(User.IsInRole(Constants.ContactManagersRole))
                            {
                                <text>
                                <li >
                                <a  asp-area="" asp-controller="Home" asp-action="About">Statistics</a>
                                </li>
                                </text>
                            }
                        }
                        @{
                            if(User.IsInRole(Constants.ContactAdministratorsRole) || User.IsInRole(Constants.ContactManagersRole))
                            {
                                <text>
                                <li >
                                <a  asp-area="" asp-controller="Invoices" asp-action="Index">Invoices</a>
                                </li>
                                </text>
                            }
                        }
                        @{
                            if(User.IsInRole(Constants.ContactAdministratorsRole) || User.IsInRole(Constants.ContactManagersRole))
                            {
                                <text>
                                <li>
                                <a  asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                                </text>
                            }
                        }
                        @{
                            if(User.IsInRole(Constants.ContactAdministratorsRole) || User.IsInRole(Constants.ContactManagersRole))
                            {
                                <text>
                                <li >
                                <a  asp-area="" asp-controller="Subscriptions" asp-action="Index">Subscriptions</a>
                                </li>
                                </text>
                            }
                        }
                        <li >
                            <a  asp-area="" asp-controller="Equipments" asp-action="Index">Equipment</a>
                        </li>
                        <li >
                            <a  asp-area="" asp-controller="Exercises" asp-action="Index">Exercises</a>
                        </li>
                        <li class="nav-item">
                            <a  asp-area="" asp-controller="Guides" asp-action="Index">Guides</a>
                        </li>
                        @{
                            if (!User.IsInRole(Constants.ContactAdministratorsRole) && !User.IsInRole(Constants.ContactManagersRole))
                            {
                                <text>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="PersonalWorkouts" asp-action="Index">My Workouts</a>
                                </li></text>
                            }
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial" />
@*                <button type="button" onclick="showMenu()" class="phone-menu" id="buttonM">Menu <img id="img_menu" src="@Url.Content("~/src/images/menu.png")"/></button>
*@                <div class="phone-menu" onclick="showMenu()" id="buttonM"> 
                    <span></span>
                    <span></span>
                    <span></span>
                </div>


            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
         &copy; 2022 - Virtual Trainer - <a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/javaScriptFunctions.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>