@model VirtualTrainer.Exercise

@{
    ViewData["Title"] = "Create";
}

<h1 class="create__title">Create a new exercise</h1>

<div class='create__container'>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            @*<label asp-for="ExerciseName"></label>*@
            <input asp-for="ExerciseName" class='create__input create__long' placeholder='Exercise name' />
            <span asp-validation-for="ExerciseName"></span>
        </div>
        <div>
            @*<label asp-for="Sets"></label>*@
            <input asp-for="Sets" class='create__input' placeholder='Sets' />
            <span asp-validation-for="Sets"></span>
            @*<label asp-for="Reps"></label>*@
            <input asp-for="Reps" class='create__input' placeholder='Reps' />
            <span asp-validation-for="Reps"></span>
        </div>
         <div>
            @*<label asp-for="Weight"></label>*@
            <input asp-for="Weight" class='create__input create__long' placeholder='Weight' />
            <span asp-validation-for="Weight"></span>
        </div>
        <div>
            @*<label asp-for="Instructions"></label>*@
            <input asp-for="Instructions" class='create__input create__long' placeholder='Instructions' />
            <span asp-validation-for="Instructions"></span>
        </div>
        <div>
            <input type="submit" value="Create" class='create__btn create__customBtn' />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
