@model VirtualTrainer.Models.ViewModels.ExEq

@{
    ViewData["Title"] = "Details";
}

<h1 style='text-align:center; margin:2rem 0'>Exercise Details</h1>

<div>
    <h3 style='text-align:center; margin:2rem 0'>Selected exercise is @Model.exercise.ExerciseName.</h3>
    <table class="table__container">
        <thead class='table__head'>
            <tr>
                <th>Equipment name</th>
                <th>Stock</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody class='table__row'>
            @foreach (var vp in Model.equipment)
            {
                <tr>
                    <td>@vp.EquipmentName</td>
                    <td>@vp.Stock</td>
                    <td class='text__wrap'>@vp.Details</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
