@model VirtualTrainer.Exercise

@{
    ViewData["Title"] = "Edit";
}

<h1 class="create__title">Edit selected exercise</h1>

<div class='create__container'>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Idexercise" />
        <div class='edit__align'>
            <label asp-for="ExerciseName">Exercise Name</label>
            <input asp-for="ExerciseName" class='create__input edit__long__exname' placeholder='Exercise name' />
            <span asp-validation-for="ExerciseName"></span>
        </div>
        <div class='edit__align'>
            <label asp-for="Sets" class='edit__align__sets'></label>
            <input asp-for="Sets" class='create__input edit__long__sets' placeholder='Sets' />
            <span asp-validation-for="Sets"></span>
        </div>
        <div class='edit__align'>
            <label asp-for="Reps" class='edit__align__reps'></label>
            <input asp-for="Reps" class='create__input edit__long__reps' placeholder='Reps' />
            <span asp-validation-for="Reps"></span>
        </div>
        <div class='edit__align'>
            <label asp-for="Weight" class='edit__align__weight'></label>
            <input asp-for="Weight" class='create__input edit__long__weight' placeholder='Weight' />
            <span asp-validation-for="Weight"></span>
        </div>
        <div class='edit__align'>
            <label asp-for="Instructions" class='edit__align__inst'></label>
            <input asp-for="Instructions" class='create__input edit__long__inst' placeholder='Instructions' />
            <span asp-validation-for="Instructions"></span>
        </div>
        <div>
            <input type="submit" value="Save" class='create__btn create__customBtn' />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
