@model VirtualTrainer.Models.ViewModels.UserViewModelAdd

@{
    ViewData["Title"] = "Create";
}

<h1 class="create__title">Create a user</h1>

<div class='create__container'>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            @*<label asp-for="Name" class='create__label'></label>*@
            <input asp-for="Name" class='create__input' placeholder='Name' />
            <span asp-validation-for="Name"></span>
            @*<label asp-for="Surname" class='create__label'></label>*@
            <input asp-for="Surname" class='create__input ' placeholder='Surname' />
            <span asp-validation-for="Surname"></span>
        </div>
        <div>
            @*<label asp-for="Email" class='create__label'></label>*@
            <input asp-for="Email" class='create__input create__long' placeholder='Email' />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            @*<label asp-for="Address" class='create__label'></label>*@
            <input asp-for="Address" class='create__input create__long' placeholder='Address' />
            <span asp-validation-for="Address"></span>
        </div>
        <div>
            @*<label asp-for="Phone" class='create__label'></label>*@
            <input asp-for="Phone" class='create__input create__long' placeholder='Phone' />
            <span asp-validation-for="Phone"></span>
        </div>
        <div>
            @*<label asp-for="Cnp" class='create__label'>CNP</label>*@
            <input asp-for="Cnp" class='create__input create__long' placeholder='CNP' />
            <span asp-validation-for="Cnp"></span>
        </div>
        <div>
            @*<label asp-for="Password" class='create__label'>Password</label>*@
            <input asp-for="Password" class='create__input' placeholder='Password' />
            <span asp-validation-for="Password"></span>
            <button class='create__btn' type="button" onclick="return generatePass()">Generate Password</button>
        </div>
        <div>
            <label asp-for="Idsubscription">Subscription name</label>
            @Html.DropDownListFor(it => it.Idsubscription, (SelectListItem[])ViewBag.SubscriptionID)
            <span asp-validation-for="Idsubscription" />
        </div>
        <div>
            <label asp-for="startDate">Start Date</label>
            <input asp-for="startDate" class='create__date' />
            <span asp-validation-for="startDate"></span>
        </div>
        <div>
            <input type="submit" value="Create" class='create__btn create__customBtn' />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>
function generatePass() {
  let passLength = 8;
  let pass = 0;
  let chars =
    '0123456789abcdefghijklmnopqrstuvwxyz!#$%^&*ABCDEFGHIJKLMNOPQRSTUVWXYZ';

  for (let i = 0; i <= passLength; i++) {
    let randomNumber = Math.floor(Math.random() * chars.length);
    pass += chars.substring(randomNumber, randomNumber + 1);
  }
  var Password = document.getElementById("Password");
  Password.value = pass;
  return false;
}
   </script>
}
