@model VirtualTrainer.User

@{
    ViewData["Title"] = "Edit";
}

<h1 class="create__title">Edit selected user</h1>

<div class='create__container'>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Iduser" />
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class='create__input' placeholder='Name'/>
                <span asp-validation-for="Name"></span>

                <label asp-for="Surname"></label>
                <input asp-for="Surname" class='create__input' placeholder='Surname'/>
                <span asp-validation-for="Surname"></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" class='create__input create__long' placeholder='Email'/>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Address"></label>
                <input asp-for="Address" class='create__input create__long' placeholder='Address'/>
                <span asp-validation-for="Address"></span>
            </div>
            <div>
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class='create__input create__long' placeholder='Phone'/>
                <span asp-validation-for="Phone"></span>
            </div>
            <div>
                <label asp-for="Cnp">CNP</label>
                <input asp-for="Cnp" class='create__input create__long' placeholder='CNP'/>
                <span asp-validation-for="Cnp"></span>
            </div>
            <div>
                <input type="submit" value="Save" class='create__btn create__customBtn' />
            </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
